{% extends 'layouts/default.njk' %}

{% block body %}

  <div class="wrapper">
    {% include 'partials/nav.njk' %}
    <div style="padding:10%;">
      <h1> Hello, {{ name }}!</h1>
      <div>
      <br>
      <p> Welcome to your <strong>App Snippetfy!</strong></p>
      <br>
      <p>Here you can write any snippets and consulting him anywhere. It´s very simple, easy and fast.</p>
      <p>You just need create a new category or add a new snippet in a category already existing.</p>
      <p>You can add codes and a lot more in your snippet using the <strong>MarkDown</strong> editor.</p>
      <br>
      <p>Create any categories and any snippet, today and always!</p>
      <br>
      Enjoy!
      <div style="text-align:center;">
        <img src="/code.png" width="200" height="200">
      </div>
      </div>
    </div>
  </div>

{% endblock %}
