{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="wrapper">
    {% include 'partials/nav.njk' %}
    {% include 'partials/snippets.njk' %}

    <section class="snippet-content">
      <div class="actions">
        <a href="#" class="edit" data-modal-open="#edit-snippet" >Edit</a>
        <a href="#" class="remove" data-modal-open="#remove-snippet" >Remove</a>


      </div>

      <h1> {{ currentSnippet.title }} </h1>
      <div class="content">
        {{ currentSnippet.formattedContent | safe }}
      </div>
    </section>

    <div class="modal" id="edit-snippet">
      <form class="modal-content" method="POST" action="/app/categories/{{ activeCategory }}/snippets/{{ currentSnippet.id }}?_method=PUT">
        <input type="text" name="title" placeholder="Snippet title" value="{{ currentSnippet.title }}">
        <div class="content-container">
          <textarea name="content" id="content" class="mde" placeholder="Enter snippet content">{{ currentSnippet.content}}</textarea>
        </div>
        <button type="submit"> Save Snippet</button>
        <a href="#" data-modal-close="#edit-snippet">Cancel</a>
      </form>
    </div>

    <div class="modal" id="remove-snippet">
      <form class="modal-content" action="/app/categories/{{ activeCategory }}/snippets/{{ currentSnippet.id }}?_method=DELETE" method="POST">
        <button class="danger" type="submit">Remove</button>
        <a href="#" data-modal-close="#remove-snippet">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}

